body {
    margin: 0px;
    background-image: url("boat.jpg")
    } 
  
    .logo {
      width: 150px; 
      height: 90px; 
      margin-right: 5px;
    }
  
    .navbar {
      display: flex;
      justify-content: center;
      background-color: #7700ff;
      color: #ffffff;
    }
  
    .navbar ul {
      display: flex;
      list-style: none;
    }
  
    .navbar ul li {
      margin: 0 50px; 
    }
  
    .navbar ul li a {
      color: #ffffff;
      text-decoration: none;
      padding: 15px;
      font-size: 18px; 
      font-family: 'Arial', sans-serif; 
    }
  
    .navbar ul li a:hover {
      background-color: #fefefe;
      color: #000000;
    }
  
  
    .search-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
    }
    
    .search-container form {
      margin: 0;
    }
    
    .search-container input[type=text] {
      width: 350px;
      padding: 10px;
      border-radius: 25px;
      border: none;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
      outline: none;
    }
    
    .search-container input[type=text]:focus {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    }
    
    .search-container button[type=submit] {
      background-color: #ffffff;
      color: #000000;
      border: none;
      border-radius: 25px;
      padding: 10px 20px;
      margin-left: -50px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
      cursor: pointer;
      transition: background-color 0.3s, color 0.3s;
    }
    
    .search-container button[type=submit]:hover {
      background-color: #000000;
      color: #ffffff;
    } 